@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Open Sans";
    src: url("fonts/open_sans_bold.ttf");
    font-weight: bold
    }
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto_regular.ttf")
    }
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto_italic.ttf");
    font-style: italic
    }
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto_bold.ttf");
    font-weight: bold
    }
